.home {
  height: 100%;
  background-image: url(../../assets/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 530px;
}

.metricsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.metricsContainer p {
  color: var(--primary-200);
  font-weight: 600;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1400px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 760px) {
    .cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
