.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.metricsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.metricsContainer p {
  color: var(--primary-200);
  font-weight: 600;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1400px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 760px) {
    .cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
